# 配置文件

# 通用配置
common:
  multirun: 1


# 推送信息配置
pushnotice:
  - server:
      enable: 0
      key:
  - wecan:
      enable: 0

# 执行脚本配置
scripts:
  # www.icc2022.com
  - icc2022:
      enable: 0
      username: xxxxx
      password: xxxxx
